<img class="rover" src="<%= image_path 'LunarRover.jpg' %>" alt="Lunar Rover">

<div class="row">
	<div class="col-md-4"></div>
	<%= form_tag '/login' do %>
	<div class="form-group col-md-4">
		<%= label_tag(:email, nil, :class => 'sr-only', :for => 'session_email') %>
		<%= email_field_tag :email, nil, :class => "form-control", :id => 'session_email', :placeholder => 'Email'  %>
	</div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="form-group col-md-4">
		<%= label_tag :password, nil, :class => 'sr-only', :for => 'session_password' %>
		<%= password_field_tag :password, nil, 	:class => 'form-control', :id => 'session_password', :placeholder => 'Password' %>
	</div>
</div>
<div class="row">
	<%= submit_tag "Sign In", :id => 'sign-in', :class => 'btn btn-default' %>
	<% end %>
</div>