<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
      <%= f.label :email, :class => 'sr-only', :for => 'user_email' %>
      <%= f.email_field :email, :class => 'form-control', :id => 'user_email', :placeholder => 'Email' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
      <%= f.label :username, :class => 'sr-only', :for => 'user_username' %>
      <%= f.text_field :username, :class => 'form-control', :id => 'user_username', :placeholder => 'User' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
      <%= f.label :latitude, :class => 'sr-only', :for => 'user_latitude' %>
      <%= f.number_field :latitude, :class => 'form-control', :id => 'user_latitude', :placeholder => 'Latitude', :step => 'any', :max => 85, :min => -85 %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
      <%= f.label :longitude, :class => 'sr-only', :for => 'user_longitude' %>
      <%= f.number_field :longitude, :class => 'form-control', :id => 'user_longitude', :placeholder => 'Longitude', :step => 'any', :max => 180, :min => -180 %>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <%= f.label :password, :class => 'sr-only', :for => 'user_password' %>
        <%= f.password_field :password, :class => 'form-control', :id => 'user_password', :placeholder => 'Password' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="form-group col-md-4">
        <%= f.label :password_confirmation, :class => 'sr-only', :for => 'user_password_confirmation' %>
        <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'user_password_confirmation', :placeholder => 'Confrim Password' %>
      </div>
    </div>
  <div class="actions">
    <%= submit_tag "Submit", :id => "sign-up", :class => 'btn btn-default submit' %>
  </div>
<% end %>
