<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>
<img class="rover" src="<%= image_path 'space_car1.jpg' %>" alt="Space Car">

<table class="table table-striped table-bordered">
	<thead>
    	<tr>
      		<th>Email</th>
      		<th>Latitude</th>
      		<th>Longitude</th>
    	</tr>
  	</thead>

	<tbody>
		<tr>
			<td><%= @user.email %></td>
        	<td><%= @user.latitude %></td>
        	<td><%= @user.longitude %></td>
		</tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
