<h2>Car <%= @car.vehicle_id %></h2>
<p id="notice"><%= notice %></p>
<div style='width: 800px;'>
  <div id="map" class="mapShow" style='width: 700px; height: 400px;'></div>
</div>

<p>
  <strong>Latitude:</strong>
  <%= @car.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @car.longitude %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
