<p id="notice"><%= notice %></p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<p>
  <strong>Vehicle ID:</strong>
  <%= @car.vehicle_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @car.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @car.longitude %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
