<!DOCTYPE html>
<html>
<head>
	<title>CndAssignment1</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<h1>(Space)Car Next Door</h1>
	<%= include_gon(:init => true) %>
	<%= yield %>

	<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj4sJpkbBab_OY841ZFOXSsFWrSfka5NY&signed_in=true&callback=initMap&v=3&libraries=geometry" type="text/javascript">
	</script>

</body>
</html>
